@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --theme: 10;
    --theme-secondary: 242;

    --font-family: 'Poppins';
    --font-family-secondary: sans-serif;

    --theme-color: hsl(var(--theme), 65%, 41%);
    --theme-color-secondary: hsl(var(--theme-secondary), 41%, 16%);

    --theme-color-light: hsl(var(--theme), 86%, 72%);
    --theme-color-light-secondary: hsl(var(--theme-secondary), 92%, 85%);

    --theme-color-hover: hsl(var(--theme), 100%, 51%);
    --theme-color-hover-secondary: hsl(var(--theme-secondary), 92%, 85%);

    --theme-text-color: #fff;
    --theme-text-color-secondary: #fff;

    --font-size-small: 0.9em;
    --font-size-small-secondary: 0.95em;
    --font-size-medium: 1em;
    --font-size-medium-secondary: 1.1em;
    --font-size-large: 1.5em;
    --font-size-large-secondary: 2em;

    --font-weight-light: 300;
    --font-weight-light-secondary: 400;
    --font-weight-normal: 500;
    --font-weight-normal-secondary: 600;
    --font-weight-bold: 600;
    --font-weight-bold-secondary: 700;

    --animation-delay-fast: 0.5s;
    --animation-delay-slow: 0.8s;

    --space-size-small: 1rem;
    --space-size-small-secondary: 0.5rem;
    --space-size-medium: 1.5rem;
    --space-size-medium-secondary: 2rem;
    --space-size-large: 3rem;
    --space-size-large-secondary: 5rem;
}

.dark-theme {
    --card-bg-color: #0a0a2e;
    --modal-bg-color: #0a0a2e;
    --background-color: #06061a;

    --text-color: rgb(186, 212, 245);
    --text-color-secondary: #e9f0f8;

    --border-color: rgba(221, 202, 202, 0.1);
    --border-color-secondary: hsl(var(--theme), 8%, 45%);

    --box-shadow: 0px 0px 20px rgba(209, 203, 203, 0.1);
    --box-shadow-secondary: hsl(var(--theme), 8%, 45%);
}

.light-theme {
    --card-bg-color: #ffffff;
    --modal-bg-color: #ffffff;
    --background-color: #f3f3f3;

    --text-color: #2e3c4e;
    --text-color-secondary: #545c66;

    --border-color: rgba(0, 0, 0, 0.1);
    --border-color-secondary: hsl(var(--theme), 8%, 45%);

    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    --box-shadow-secondary: hsl(var(--theme), 8%, 45%);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--theme-color);
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

svg {
    fill: currentColor;
}

input,
button,
textarea {
    border: none;
    outline: none;
    background: none;
}

::selection {
    color: var(--theme-text-color);
    background-color: var(--theme-color);
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.d-flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column !important;
}

.align-center {
    display: flex;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fs-small {
    font-size: var(--font-size-small);
}

.fs-medium {
    font-size: var(--font-size-medium);
}

.fs-large {
    font-size: var(--font-size-large);
}

.fs-small-ext {
    font-size: var(--font-size-small-secondary);
}

.fs-medium-ext {
    font-size: var(--font-size-medium-secondary);
}

.fs-large-ext {
    font-size: var(--font-size-large-secondary);
}

.fw-light {
    font-weight: var(--font-weight-light);
}

.fw-normal {
    font-weight: var(--font-weight-normal);
}

.fw-bold {
    font-weight: var(--font-weight-bold);
}

.fw-light-ext {
    font-weight: var(--font-weight-light-secondary);
}

.fw-normal-ext {
    font-weight: var(--font-weight-normal-secondary);
}

.fw-bold-ext {
    font-weight: var(--font-weight-bold-secondary);
}


.container {
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 576px) {

    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {

    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {

    .container {
        max-width: 1150px;
    }
}